[build]
# On affiche les infos de debug, on rend le script executable et on lance le build
command = "echo 'JAVA DEBUG:' && java -version && chmod +x gradlew && ./gradlew :composeApp:jsBrowserDistribution"
publish = "composeApp/build/dist/js/productionExecutable"

[build.environment]
JAVA_VERSION = "17"